section.slider
    .container
        .slider-top
            .slider__title Сверстаешь такой слайдер?
            .slider__text 
                |Это не так сложно, на самом деле. 
                |Сложнее придумать как он будет адаптироваться. 
                |Различные модные эффекты так же будут оценены по достоинству.
        .slider-bottom 
            .slider-left
                .process__img
                    img(src="../../img/slider-left.svg", alt="")
                    .slider-quantity    
                        .slider__number-active 01
                        .slider__number /03
                .slider-card
                    .slider-card__inner
                        .slider-card__img
                            img(src="../../img/shoes.svg", alt="")
                    .slider-card__title New Balance 840 90s
                    .slider-card__text  
                        |840 90s Running объединили в себе 
                        |спортивную эстетику и необходимый в городском ритме комфорт.
                    .slider-card-price  10 990 ₽   
                    .slider-card-price__old 12 990 ₽

