section.scale
    .container
        .scale__inner
            .scale-top
                .scale-right
                    .scale__title Оцени себя
                    .scale__text 
                        |Попробуй максимально объективно 
                        |и честно оценить свои знания верстки 
                        |по следующей шкале. 
                        |И да, её тоже нужно сверстать.
                .scale-left
                    .scale-circle
                     .scale-information
                            .scale__quantity 12
                            .scale__description Лет
                    .scale-circle
                        .scale-information
                            .scale__quantity 269
                            .scale__description Проектов
            .scale-bottom
                .scale-line
                    .scale-line-circle
                ul.scale-level__list
                    li.scale-level__item Intern
                    li.scale-level__item Junior
                    li.scale-level__item Middle
                    li.scale-level__item Senior
                    li.scale-level__item Lead
