* {
  margin: 0;
  padding: 0;
}

// Colors
@cello: #405063;
@light-grey: #818d9c;
@white: #ffffff;
@cornflower-blue: #489aff;
@solitude: #e3e8ef;

.hidden {
  display: none;
}

.container {
  max-width: 1047px;
  margin: 0 auto;
}
