header.header
    .container
        .header__inner
            .header-left
                a.header-logo(href="#")
                    img(src="../../img/header-logo.svg", alt="")
            .header-center
                nav.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="#")  Это меню
                        li.menu__item
                            a.menu__link(href="#")  Должно 
                        li.menu__item
                            a.menu__link(href="#")  Быть
                        li.menu__item
                            a.menu__link(href="#")  Закрепленным
                        li.menu__item
                            a.menu__link(href="#")  При скролле     
            .header-right
                a.modal(href="#")  Модалка




