section.task
    .container
        .task__inner
            .task-center
                .task__text
                    |Это твое первое задание в нашей компании. 
                    |Если оно покажется тебе интересным и его реализация 
                    |нам понравится – добро пожаловать в команду.
                .task-center__inner        
                    .task__image
                        img(src="../../img/screen.svg", alt="")
                        .task__image-text  Первый блок на всю высоту экрана
                    .task__image
                        img(src="../../img/responsive.svg", alt="")
                        .task__image-text  Отзывчивая верстка
