section.task
    .container
        .task__inner
            .task-center
                .task__text
                    |Это твое первое задание в нашей компании. 
                    |Если оно покажется тебе интересным и его реализация 
                    |нам понравится – добро пожаловать в команду.