section.welcome
    .container
        .welcome__inner
            .welcome-left
                .welcome__title Привет!
                .welcome__text 
                        |Группа компаний Freematiq и MITRA 
                        |ищет себе клевого верстальщика. 
                        |На постоянную работу в офисе или 
                        |периодическую работу по удаленке. 
                        |Хотим предложить тебе вместо скучных 
                        |тестовых заданий – сверстать эту страницу.
                ul.welcome__list В своей работе мы используем:
                    li.welcome__item HTML5, CSS3 
                    li.welcome__item Bootstrap 4 
                    li.welcome__item Jade, Pug 
                    li.welcome__item Less, SCSS
                    li.welcome__item  Иконочные шрифты 
                    li.welcome__item  SVG иллюстрации
                .welcome-add__text  Не ограничиваем этими технологиями, верстай как удобно.
            .welcome-right
                .welcome__img


