.welcome {
  margin-top: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &-left {
    max-width: 430px;
  }
  &-right {
    max-width: 853px;
  }

  &__img::before {
    content: "";
    position: absolute;
    width: 853px;
    height: 667px;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: url(../../img/welcome.svg);
  }
  &__title {
    font-size: 36px;
    color: @cello;
    font-family: "roboto-regular";
  }
  &__text {
    margin-top: 10px;
    font-size: 15px;
    color: @light-grey;
    font-family: "roboto-regular";
  }
  &__list {
    margin-top: 20px;
    font-size: 15px;
    color: @cello;
    font-family: "roboto-regular";
    list-style-type: none;
  }

  &__item {
    padding-top: 15px;
    font-size: 14px;
    font-family: "roboto-regular";
    color: @cello;
  }

  &-add__text {
    margin-top: 20px;
    font-size: 15px;
    font-family: "roboto-regular";
    color: @cello;
  }
}
